# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.vscode/
.idea/
*.iml

# Java
*.class

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Variáveis/configurações locais
.env
.env.*

# Spring
application-local.properties